body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

#automatic-compliment {
    background-color: #eaeaea;
    padding: 20px;
    text-align: center;
}

#compliment-text {
    font-size: 1.5em;
    color: #ff3366;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

